n8n-workflows/literature-survey-workflow.json
{
  "name": "Literature Survey Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-workflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "literature-survey-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract topic and execution ID from webhook\nconst body = $input.item.json.body || $input.item.json;\nconst topic = body.topic;\nconst executionId = body.executionId;\nconst options = body.options || {};\n\nif (!topic || !executionId) {\n  throw new Error('Missing required fields: topic and executionId');\n}\n\nreturn {\n  json: {\n    topic,\n    executionId,\n    options,\n    stage: 'query_expansion',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "init-node",
      "name": "Initialize Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "text": "=Given the research topic: {{ $json.topic }}\n\nGenerate 5-10 specific search queries that would retrieve relevant academic papers from scholarly databases. Include:\n- Synonyms and related concepts\n- Key terminology\n- Specific research areas\n- Alternative phrasings\n\nReturn ONLY a JSON array of search query strings, nothing else.\nExample: [\"query 1\", \"query 2\", \"query 3\"]",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "query-expansion-node",
      "name": "Query Expansion (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse LLM response and prepare for paper retrieval\nconst message = $input.item.json.message;\nconst content = message?.content || message || '';\nlet queries;\n\ntry {\n  // Try to parse as JSON\n  queries = JSON.parse(content);\n  if (!Array.isArray(queries)) {\n    queries = [content];\n  }\n} catch (e) {\n  // Fallback to original topic if parsing fails\n  queries = [$input.item.json.topic || 'machine learning'];\n}\n\n// Ensure we have at least one query\nif (queries.length === 0) {\n  queries = [$input.item.json.topic || 'machine learning'];\n}\n\nreturn {\n  json: {\n    topic: $input.item.json.topic,\n    executionId: $input.item.json.executionId,\n    queries,\n    stage: 'retrieval'\n  }\n};"
      },
      "id": "parse-queries-node",
      "name": "Parse Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.semanticscholar.org/graph/v1/paper/search?query={{ encodeURIComponent($json.queries[0]) }}&limit=20&fields=title,authors,abstract,year,citationCount,venue,url,paperId",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "retrieve-papers-node",
      "name": "Retrieve Papers (Semantic Scholar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filter and normalize paper data\nconst response = $input.item.json;\nconst papers = response.data || [];\nconst executionId = $input.first().json.executionId;\nconst topic = $input.first().json.topic;\n\n// Filter English papers and extract metadata\nconst filteredPapers = papers\n  .filter(paper => paper.title && paper.abstract)\n  .map(paper => ({\n    externalId: paper.paperId || `paper-${Date.now()}-${Math.random()}`,\n    title: paper.title,\n    authors: (paper.authors || []).map(a => ({ name: a.name || 'Unknown' })),\n    abstract: paper.abstract || '',\n    publicationYear: paper.year || new Date().getFullYear(),\n    citationCount: paper.citationCount || 0,\n    venue: paper.venue || 'Unknown',\n    url: paper.url || '',\n    language: 'en'\n  }));\n\nreturn {\n  json: {\n    executionId,\n    topic,\n    papers: filteredPapers,\n    stage: 'validation',\n    paperCount: filteredPapers.length\n  }\n};"
      },
      "id": "filter-papers-node",
      "name": "Filter Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-3.5-turbo",
        "text": "=Evaluate the following academic papers for quality. For each paper, assign a quality score from 0-10 based on:\n- Citation count (weight: 40%)\n- Venue reputation (weight: 30%)\n- Abstract quality and clarity (weight: 30%)\n\nPapers:\n{{ JSON.stringify($json.papers.slice(0, 10), null, 2) }}\n\nReturn ONLY a JSON array of objects with format: [{\"index\": 0, \"score\": 8.5, \"reason\": \"High citations, reputable venue\"}]",
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "validate-papers-node",
      "name": "Validate Papers (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1450, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Apply quality scores and filter\nconst papers = $input.first().json.papers;\nconst message = $input.item.json.message;\nconst content = message?.content || message || '';\nlet scores;\n\ntry {\n  scores = JSON.parse(content);\n  if (!Array.isArray(scores)) {\n    scores = [];\n  }\n} catch (e) {\n  // Fallback: assign default scores\n  scores = papers.map((p, i) => ({ index: i, score: 7.0 }));\n}\n\n// Apply scores and filter (threshold: 6.0)\nconst validatedPapers = papers\n  .map((paper, index) => {\n    const scoreData = scores.find(s => s.index === index) || { score: 7.0 };\n    return { ...paper, qualityScore: scoreData.score };\n  })\n  .filter(paper => paper.qualityScore >= 6.0)\n  .sort((a, b) => b.qualityScore - a.qualityScore);\n\nreturn {\n  json: {\n    executionId: $input.first().json.executionId,\n    topic: $input.first().json.topic,\n    papers: validatedPapers,\n    stage: 'evaluation'\n  }\n};"
      },
      "id": "apply-scores-node",
      "name": "Apply Quality Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "text": "=Analyze these academic papers for relevance to the topic and extract key themes.\n\nTopic: {{ $json.topic }}\n\nPapers:\n{{ JSON.stringify($json.papers.slice(0, 15), null, 2) }}\n\nFor each paper:\n1. Assign relevance score (0-10)\n2. Identify 2-3 key themes\n\nAlso identify 3-5 major themes across all papers.\n\nReturn JSON: {\"papers\": [{\"index\": 0, \"relevance\": 9.0, \"themes\": [\"theme1\", \"theme2\"]}], \"majorThemes\": [\"theme1\", \"theme2\", \"theme3\"]}",
        "options": {
          "temperature": 0.5,
          "maxTokens": 2000
        }
      },
      "id": "evaluate-content-node",
      "name": "Evaluate Content (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1850, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Apply relevance scores and select top papers\nconst papers = $input.first().json.papers;\nconst message = $input.item.json.message;\nconst content = message?.content || message || '';\nlet evaluation;\n\ntry {\n  evaluation = JSON.parse(content);\n  if (!evaluation.papers || !Array.isArray(evaluation.papers)) {\n    throw new Error('Invalid evaluation format');\n  }\n} catch (e) {\n  evaluation = {\n    papers: papers.map((p, i) => ({ index: i, relevance: 8.0, themes: ['general'] })),\n    majorThemes: ['general research']\n  };\n}\n\n// Apply relevance scores\nconst evaluatedPapers = papers\n  .map((paper, index) => {\n    const evalData = evaluation.papers.find(e => e.index === index) || { relevance: 8.0, themes: [] };\n    return {\n      ...paper,\n      relevanceScore: evalData.relevance,\n      themes: evalData.themes\n    };\n  })\n  .sort((a, b) => b.relevanceScore - a.relevanceScore)\n  .slice(0, 15); // Top 15 papers\n\nreturn {\n  json: {\n    executionId: $input.first().json.executionId,\n    topic: $input.first().json.topic,\n    papers: evaluatedPapers,\n    majorThemes: evaluation.majorThemes || ['general research'],\n    stage: 'synthesis'\n  }\n};"
      },
      "id": "select-papers-node",
      "name": "Select Top Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "text": "=Create a comprehensive literature survey on: {{ $json.topic }}\n\nUsing these papers:\n{{ JSON.stringify($json.papers, null, 2) }}\n\nMajor themes: {{ JSON.stringify($json.majorThemes) }}\n\nStructure:\n1. Introduction (context, scope, importance)\n2. Thematic sections (one per major theme, group relevant papers)\n3. Conclusion (synthesis, gaps, future directions)\n\nFormat citations as [Author et al., Year].\nReturn JSON: {\"introduction\": \"...\", \"sections\": [{\"title\": \"...\", \"content\": \"...\", \"paperIds\": [...]}], \"conclusion\": \"...\"}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "synthesize-node",
      "name": "Synthesize Survey (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [2250, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format final survey and prepare for storage\nconst message = $input.item.json.message;\nconst content = message?.content || message || '';\nlet surveyContent;\n\ntry {\n  surveyContent = JSON.parse(content);\n  if (!surveyContent.introduction || !surveyContent.sections || !surveyContent.conclusion) {\n    throw new Error('Invalid survey format');\n  }\n} catch (e) {\n  surveyContent = {\n    introduction: 'Survey generation in progress...',\n    sections: [],\n    conclusion: 'To be completed...'\n  };\n}\n\n// Build references\nconst papers = $input.first().json.papers;\nconst references = papers.map(paper => ({\n  authors: paper.authors.map(a => a.name),\n  year: paper.publicationYear,\n  title: paper.title,\n  venue: paper.venue,\n  url: paper.url\n}));\n\n// Calculate metadata\nconst wordCount = JSON.stringify(surveyContent).split(/\\s+/).length;\n\nreturn {\n  json: {\n    executionId: $input.first().json.executionId,\n    topic: $input.first().json.topic,\n    content: {\n      ...surveyContent,\n      references\n    },\n    metadata: {\n      paperCount: papers.length,\n      wordCount,\n      generatedAt: new Date().toISOString(),\n      themes: $input.first().json.majorThemes\n    },\n    stage: 'complete'\n  }\n};"
      },
      "id": "format-survey-node",
      "name": "Format Survey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/surveys/{{ $json.executionId }}/complete",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ JSON.stringify($json.content) }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify($json.metadata) }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "store-survey-node",
      "name": "Store Survey in Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Initialize Workflow", "type": "main", "index": 0 }]]
    },
    "Initialize Workflow": {
      "main": [[{ "node": "Query Expansion (LLM)", "type": "main", "index": 0 }]]
    },
    "Query Expansion (LLM)": {
      "main": [[{ "node": "Parse Queries", "type": "main", "index": 0 }]]
    },
    "Parse Queries": {
      "main": [[{ "node": "Retrieve Papers (Semantic Scholar)", "type": "main", "index": 0 }]]
    },
    "Retrieve Papers (Semantic Scholar)": {
      "main": [[{ "node": "Filter Papers", "type": "main", "index": 0 }]]
    },
    "Filter Papers": {
      "main": [[{ "node": "Validate Papers (LLM)", "type": "main", "index": 0 }]]
    },
    "Validate Papers (LLM)": {
      "main": [[{ "node": "Apply Quality Scores", "type": "main", "index": 0 }]]
    },
    "Apply Quality Scores": {
      "main": [[{ "node": "Evaluate Content (LLM)", "type": "main", "index": 0 }]]
    },
    "Evaluate Content (LLM)": {
      "main": [[{ "node": "Select Top Papers", "type": "main", "index": 0 }]]
    },
    "Select Top Papers": {
      "main": [[{ "node": "Synthesize Survey (LLM)", "type": "main", "index": 0 }]]
    },
    "Synthesize Survey (LLM)": {
      "main": [[{ "node": "Format Survey", "type": "main", "index": 0 }]]
    },
    "Format Survey": {
      "main": [[{ "node": "Store Survey in Database", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-23T00:00:00.000Z",
  "versionId": "1"
}
